<!DOCTYPE html>
<html>
<head>
  <title>d1e3</title>
</head>

<body>
  <h1>Shopping List</h1>
  <ul>
    <% shopping.forEach(item => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
</body>

</html>


